@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --main-color: rgba(255, 255, 255, 0.87);
  color: var(--main-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.digital-clock {
  font-family: "Orbitron", sans-serif;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 250px;
  font-size: 50px;
  padding: 0.5rem;
  border: 3px solid var(--main-color);
  border-radius: 0.5rem;
}

.digital-clock .digit {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 20%;
}

.hide {
  opacity: 0;
}
